---
title: Die Gesellschaft des Spektakels
author: 'Guy Debord'
date: '1967-01-01'
slug: die-gesellschaft-des-spektakels
cover: /images/spectacle.jpg
cover_link: https://aphelis.net/cover-debord-society-spectacle/
thumbnail: /images/spectacle-thumb.jpg
excerpt: "By Guy Debord"
nocopy: true
---



<blockquote>
<p>In seiner Totalität begriffen, ist das Spektakel zugleich das Ergebnis und die Zielsetzung der bestehenden Produktionsweise. Es ist kein Zusatz zur wirklichen Welt, kein aufgesetzter Zierat. Es ist das Herz des Irrealismus der realen Gesellschaft. In allen seinen besonderen Formen: Information oder Propaganda, Werbung oder unmittelbarer Konsum von Zerstreuungen ist das Spektakel das <em>gegenwärtige Modell</em> des gesellschaftlich herrschenden Lebens. Es ist die allgegenwärtige Behauptung der in der Produktion und ihrem korollären Konsum <em>bereits getroffenen</em> Wahl. Form und Inhalt des Spektakels sind identisch die vollständige Rechtfertigung der Bedingungen und der Ziele des bestehenden Systems. Das Spektakel ist auch die ständige <em>Gegenwart</em> dieser Rechtfertigung, als Beschlagnahme des hauptsächlichen Teils der außerhalb der modernen Produktion erlebten Zeit.</p>
<footer>
<cite>
Guy Debord
</cite>
</footer>
</blockquote>
<p><span style="display:block;text-align:center;"><a href="/texts/spektakel-a5.pdf">― Weiterlesen ―</a></span></p>
