---
title: Handbuch der Lebenskunst für die jungen Generationen
author: 'Raoul Vaneigem'
date: '1967-01-01'
slug: handbuch-der-lebenskunst-für-die-jungen-generationen
cover: /images/mai1968.jpg
cover_title: "Chris Marker (Paris, Mai 1968)"
cover_link: https://artmap.com/peterblum/exhibition/chris-marker-staring-back-2007
thumbnail: /images/mai1968-thumb.jpg
excerpt: "By Raoul Vaneigem"
nocopy: true
---



<blockquote>
<p>Der schwarze Vorhang hebt sich: die Jagd auf die Verhungerten und den letzten Proletarier ist eröffnet. Wer wird ihm seinen Wagen, seinen Mixer, seine Bar und seine Bibliothek erfolgreich verkaufen. Wer wird ihn erfolgreich mit der lächelnden Gestalt auf dem beruhigenden Plakat identifizieren: „Glücklich Wer Lucky Strike Raucht.“</p>
<footer>
<cite>
Raoul Vaneigem
</cite>
</footer>
</blockquote>
<div id="zum-autor" class="section level2">
<h2>Zum Autor</h2>
<p><a href="http://voidnetwork.gr/2009/09/11/conversation-with-raoul-vaneigem-by-hans-ulrich-obrist/"><img src="/images/vaneigem.jpg" /></a></p>
<p>Der Belgier Raoul Vaneigem (*1934), geboren in Lisses, Studium und Diplom der Literaturwissenschaften an der Universität Libre de Bruxelles, lernte Guy Debord 1960 über den marxistischen Philosophen Henry Levèbvre kennen. Er schloss sich der S.I. an und gründete 1961 zusammen mit Attila Kotányi, einem Ungarn, der 1956 über Jugoslawien nach Brüssel flüchtete, das situationistische «Büro für einen unitären Urbanismus». Während seiner Zeit bei der S.I. schrieb er einige Artikel und Essays, wie 1962 die historische Spektakeltheorie «Basisbanalitäten» und 1965 das «Handbuch der Lebenskunst für die jungen Generationen». Mit seinem originellen Verbinden der Philosophien und Theorien von Karl Marx, Sören Kierkegaard und Friedrich Nietzsche verkörperte er die eher existenzphilosophische Tendenz innerhalb der S.I.. Im November 1970 verließ Vaneigem die S.I.<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
<p><span style="display:block;text-align:center;"><a href="/texts/handbuch-a5.pdf">― Weiterlesen ―</a></span></p>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Quelle: <a href="http://www.si-revue.de/vaneigem" class="uri">http://www.si-revue.de/vaneigem</a><a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>
</div>
